include LICENSE
include README.md
include pyproject.toml
recursive-include stratopy *.py
recursive-include stratopy *.json

exclude tox.ini
exclude .header-template
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude res *
recursive-exclude legacy *
