pandas
geopandas
netcdf4
pyhdf
pyshp
shapely --no-binary shapely
six
pyspectral
pyorbital
numpy
cartopy
# es mejor instalar el cartopy desde el github
# !pip install git+https://github.com/SciTools/cartopy.git